body { 
    width: 100%;
    height: 100%;
    font-family: serif; 
}
.tit{
    font-size: 70px;
}
a{
    text-decoration: none;
}
#iceDown:hover{
    background: grey;
}
#iceDown{
    width: 300px;
    height: 50px;
    background-color: #df4949;
    border-radius: 1em;
    color: white;
    font-size: 35px;
    text-align: center;
}